<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Parques
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-item [routerLink]="['/pedradacebola']">
      <ion-thumbnail slot="start">
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0a/d2/8f/da/lindo.jpg?w=1200&h=-1&s=1" alt="Parque pedra da cebola">
      </ion-thumbnail>
      <ion-label>
        <ion-text color="primary">
          <h2>Parque Pedra da Cebola</h2>
        </ion-text>
        <p>Vitória</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>
